---
layout: default
title: Home
---

<section style="margin-left:0; margin-right:0" class="recent-posts">
<ul>
<div class="section-title mt-2">
<li style="font-size:2rem">
  <span style="color: #78C0A0;font-family: 'RoslynGothic';font-size: 5rem;">The <span>Dig</span></span>
  <span style="color:#B2B2B2"> is <a alt="Daniel Denvir" href="https://thedig.cargo.site/" style="color:#78C0A0">Daniel Denvir's</a> <a alt="Jacobin" href="https://jacobinmag.com/" style="color:#78C0A0">Jacobin</a> podcast on politics, history, and economics everywhere. </span>
  </li>
</div>
<div class="row listrecent">
  
{% for post in site.posts %}
  {% if post.audiolink != null %}
    <li style="font-size:2rem">
      <span style="color:#B2B2B2">Click </span>
      <a alt="latest post" href="{{post.permalink}}" style="color:#78C0A0">here</a>
      <span style="color:#B2B2B2">to listen to the latest episode, featuring 
      {% for tag in post.tags %}
        {% if forloop.last %}
        {{tag}}.
        {% else %}
        {{tag}},
        {% endif %}
      {% endfor %}
    </span>
    </li>
    {% break %}
  {% endif %}
{% endfor %}
  
</div>
</li>
</section>
  
