---
layout: default
title: Home
---

<section style="margin-left:0; margin-right:0" class="recent-posts">
  <ul>
  <div class="section-title mt-2">
    <li style="font-size:2rem">
      <span style="color: #79AA9D;font-family: 'RoslynGothic';font-size: 5rem;">The Dig</span>
         is Daniel Denvir's podcast on political economy, labor, imperialism, and immigration.
      </li>
  </div>
  <div class="row listrecent">
  
  {% for post in site.posts limit:1 %}
    {% if post.audiolink != null %}
      <li style="font-size:2rem">
        Click 
        <a href="{{post.permalink}}" style="color:#79AA9D">here</a>
        to listen to the latest episode, featuring 
        {% for tag in post.tags %}
            {{tag}}.
        {% endfor %}
      </li>

    {% else %}
      {% for post2 in site.posts offset:1 limit:1 %}
        {% if post2.audiolink != null %}
          {% for tag in post2.tags %}
            <h1>
              {{tag}}
            </h1>
          {% endfor %}
        {% else %}
            {% for post3 in site.posts offset:2 limit:1 %}
              {% if post3.audiolink!= null %}
                {% for tag in post3.tags %}
                  <h1>
                    {{tag}}
                  </h1>
                {% endfor %}
              {% endif %}
            {% endfor %}
        {% endif %}
      {% endfor %}
    {% endif %} 
  {% endfor %}
  
  </div>
  </li>
  </section>
  