<div class="sidebar">
  <div style="text-align:center" id="search-demo-container">
    <input class="searchbar" type="search" id="search-input" placeholder="">
    <ul style="position:absolute; padding-left:0.5rem; padding-bottom: 2rem; font-size:0.9rem; width:85%; text-align:left" id="results-container"></ul>
  </div>
  <div id="sidebar" class="container sidebar-sticky">
    <div class="sidebar-about" >
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a> -->

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="https://www.patreon.com/thedig">Contribute</a>
      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
    </nav>
    <div class="icon-bar" style="justify-content:center" >
       <a href="https://podcasts.apple.com/us/podcast/the-dig/id1043245989?mt=2&ls=1">
        <i class="fa-brands fa-apple"></i>        
        <!-- <img wid  th="10" height="10" src="{{ site.url }}/assets/apple-touch-icon-precomposed.png"> -->
      </a>
      <!-- <a href="https://www.stitcher.com/show/the-dig-2">
        <i class="fa-brands fa-spotify"></i>

      </a> -->
      <a href="https://open.spotify.com/show/2noCXQGBJp76DR2qcxETPy">
        <i class="fa-brands fa-spotify"></i>

        <!-- <img width="25" height="25" src="{{ site.url }}/assets/Icon-Spotify-PNG.png"> -->
      </a>
      <a href="https://subscribeonandroid.com/www.thedigradio.com/podcast/">
        <i class="fa-brands fa-android"></i>
        <!-- <img width="10" height="10" src="{{ site.url }}/assets/apple-touch-icon-precomposed.png"> -->
      </a>
      <a href="https://www.thedigradio.com/feed/podcast/">
        <i class="fa-solid fa-square-rss"></i>
        <!-- <img width="10" height="10" src="{{ site.url }}/assets/rss-icon.png"> -->
      </a>
      <a href="https://twitter.com/thedigradio">
        <i class="fa-brands fa-twitter"></i> 
        <!-- <img width="10" height="10" src="{{ site.url }}/assets/rss-icon.png"> -->
      </a>
      <a href="https://www.facebook.com/thedigradio">
        <i class="fa-brands fa-facebook"></i>
                <!-- <img width="10" height="10" src="{{ site.url }}/assets/rss-icon.png"> -->
      </a>
    </div>
      


    <!-- <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->
  </div>
</div>


    <!-- Script pointing to search-script.js -->
    <script src="{{ site.url }}/js/search-script.js"></script>

    <!-- Configuration -->
    <script>
      window.simpleJekyllSearch = new SimpleJekyllSearch({
        searchInput: document.getElementById('search-input'),
        resultsContainer: document.getElementById('results-container'),
        sidebar: document.getElementById('sidebar'),
        json: '{{ site.url }}/search.json',
        searchResultTemplate: '<li><a href="{url}?query={query}" title="{desc}">{title}</a></li>',
        noResultsText: 'No results found',
        limit: 10,
        fuzzy: false,
        exclude: ['Welcome']
      })
    </script>
