---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {% unless page.title contains "Newsletter" %}
  <span style="color:#B2B2B2" class="post-date">{{ page.date | date_to_string }}</span>

  {% if page.audiolink != null %}
  <audio style="width:60%" controls><source src="{{page.audiolink}}" type="audio/mpeg">Your browser does not support the audio tag.</audio>
  {% endif %}

  {% endunless %}
    {{ content }}
</div>

<div style="color:#B2B2B2" class="cats">
    {% if page.categories.size > 0 %}
    Topics:
    {% endif %}
    {% for category in page.categories %}
      <a style="color:#78C0A0" href='{{site.baseurl}}/category/{{category|slugify: "ascii"}}'>{{category}}</a>
    {% endfor %}
</div>

<div style="color:#B2B2B2" class="tags">
    {% if page.tags.size > 0 %}
    Guests:
    {% endif %}
    {% for tag in page.tags %}  
      <a style="color:#78C0A0" href='{{site.baseurl}}/tag/{{tag|slugify: "ascii"}}'>{{tag}} </a>
    {% endfor %}
</div>
<br>
Listen on your preferred podcast app
<br>
{% if page.applelink != null %}
<a href="{{page.applelink}}"><i class="fa-brands fa-apple" style="color:#B2B2B2;"></i></a>
{% endif %}
{% if page.spotifylink != null %}
<a href="{{page.spotifylink}}"><i class="fa-brands fa-spotify" style="color:#B2B2B2;"></i></a>
{% endif %}
{% if page.googlelink != null %}
<a href="{{page.googlelink}}"><i class="fa fa-google" style="color:#B2B2B2;" ></i></a>
{% endif %}
</div>



<!-- <div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div> -->
